/tmp/

/.cache/
/.local/

/.gitconfig
/.editor

/Desktop/
/Downloads/
/Templates/
/Public/
/Documents/
/Music/
/Pictures/
/Videos/

/.ICEauthority
/.Xauthority
/.xsession-errors*

/.bash_history
/.history
/.lesshst

/.zcompdump
/.viminfo

/.ssh/known_hosts
/.ssh/*_rsa*
/.pki/
/.gnupg/

/.steam/
/.steampath
/.steampid
