/.bash_history
/.ICEauthority
/.Xauthority
/.cache/
/.viminfo
/.xsession-errors
/.xsession-errors.old
/.local/
/.lesshst
/.ssh/known_hosts
/.ssh/*_rsa*
/.pki/

/.gitconfig
/.editor

/tmp/

/Desktop/
/Downloads/
/Templates/
/Public/
/Documents/
/Music/
/Pictures/
/Videos/

/.steam/
/.steampath
/.steampid
